.messenger {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messenger-container {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.messenger-sidebar {
  flex: 1;
  background-color: var(--primary-color);
}

.chat {
  flex: 2;
}

.messenger-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #3e3c61;
  height: 50px;
  padding: 10px;
  color: #fff;
}

.messenger-user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.messenger-user .avatar {
  height: 30px;
  width: 30px;
}

.search {
  border-bottom: 1px solid gray;
}

.search-form {
  padding: 10px;
}

.search-input {
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
}

.search-input::placeholder {
  color: #fff;
}

.user-chat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.user-chat:hover {
  background-color: #3e3c61;
}

.user-chat .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-chat-info-span {
  font-size: 18px;
  font-weight: 500;
}

.user-chat-info-p {
  font-size: 12px;
  color: lightgray;
}

.chat-extra-btn {
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.chat-info {
  height: 50px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: lightgray;
}

.chat-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 20px;
  justify-content: center;
}

.chat-icons img {
  height: 24px;
  cursor: pointer;
}

.messages {
  background-color: #ddddf7;
  padding: 10px;
  height: calc(100% - 160px);
  overflow-y: scroll;
}

.messages::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: none;
}

.messages::-webkit-scrollbar-track {
  background: transparent;
}

.messages::-webkit-scrollbar-button {
  display: none;
}

.chat-input {
  height: 50px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-input input {
  width: 100%;
  border: none;
  outline: none;
  color: #2f2d52;
  font-size: 18px;
}
.chat-input input::placeholder {
  color: lightgray;
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.send img {
  height: 24px;
  cursor: pointer;
}

.send button {
  border: none;
  padding: 10px 15px;
  color: #fff;
  background-color: var(--primary-color);
}

.message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.message-info {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
}

.message-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.message-content {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-content p {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}

.message-content img {
  width: 50%;
}

.owner {
  flex-direction: row-reverse;
}

.owner .message-content {
  align-items: flex-end;
}

.owner p {
  background-color: #8da4f1;
  color: #fff;
  border-radius: 10px 0px 10px 10px;
  max-width: max-content;
}
